*{
    margin: 0;
    padding: 0;
}

/* --------Header Section--------- */

body{
    background-color:black;
}

nav{
    background-color: rgb(82, 29, 77);
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

nav h1{
    margin: 0 23px;
    font-weight: 600;
    font-size: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav h1 span{
    color: rgb(236, 236, 87);
}

nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 25px 0;
}

nav ul li{
    margin: 0 23px;
    font-weight: 600;
    font-size: 17px;
    color: rgb(211, 204, 187);
    position: relative;
    font-family:sans-serif;
}

nav ul li::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: rgb(198, 115, 158);
    position: absolute;
    left: 0;
    bottom: -6px;
    border-radius: 3px;
}

nav ul li:hover::after{
    width: 100%;

}

main p {
    color: white;
    font-size: 20px;
    margin: 18px;

}

main h2{
    color: white;
    font-family:Arial, Helvetica, sans-serif ;
    font-size: 30px;
}

main h2 span{
    color: rgb(246, 61, 61);
}

.first-left{
    margin: 22% 40px;
}

main{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

main img{
    height: 90vh;
    border-radius: 18px;
}

/* ------About Section------- */

.first-section{
    display: flex;
    padding: 60px 88px;
    justify-content: space-between;
}

.one{
    flex-basis: 30%;
}

.one img{
    border-radius: 5px;
    border: none;
    height: 55vh;
}

.two{
    flex-basis: 50%;
    padding: 25px;
    color: white;
}


.two h2{
    color: brown;
    margin: 11px;
}


.two ul li{
    font-size: 23px;
}

.about h1{
    color: white;
    font-size: 2.5rem;
}

.two p{
    color: white;
    font-size: 20px;
}

/* ------contact------ */

.contact{
    height: 60vh;
}

.contact h1{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact p{
    color: white;
}

.social{
    margin: 24px;
}

.social a{
    text-decoration: none;
    padding: 3px;
}

.info{
    margin: 23px;
    margin-top: 56px;
}

.info p{
    padding: 7px;
}

.boxe{
    justify-content: space-around;
}

form{
    margin-left: 572px;
    margin-top: -136px;
    display: flex;
    flex-direction: column;
    max-width: 355px;
    padding: 2px;
}

form input{
    margin: 25px;
    padding: 10px;
    border-radius: 10px;
    background-color: #252323;
    border: indigo;
    text-transform: capitalize;
    -webkit-text-stroke: thin;
    color: #d78a8a;
}


form textarea{
    margin: 15px;
    padding: 5px;
    border-radius: 10px;
    /* text-align: center; */
    background-color: #252323;
    border: indigo;
    text-transform: lowercase;
    -webkit-text-stroke: thin;
}

button{
    background: #c8475d;
    margin-left: 44rem;
    margin-top: 31px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-weight: 700;
    font-family: serif;
}
